
<h1>User Logged in Successfully!</h1>
<main>
    <div id="superUserView">
        <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}} . You get super user access since you are a super user. Remember, with great power comes great responsibility!!</p>
        <p id="signupDate">The day you signed up was: {{signupDate}}</p>
        <p id="lastLogin">The last time you logged in was:  {{lastLogin}}</p>
        <p id="quote">Favorite Quote: {{favoriteQuote}}</p>
        <a id="userLink" href="/user">User Page</a>
        <a id="signoutLink" href="/signout">Sign out</a>
    </div>
</main>