

<h1>User Logged in Successfully!</h1>
<main>
    <div id="userView">
        <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}}. Your role in the system is: {{role}}.</p>
        <p id="signupDate">The day you signed up was: {{signupDate}}</p>
        <p id="lastLogin">The last time you logged in was:  {{lastLogin}}</p>
        <p id="quote">Favorite Quote: {{favoriteQuote}}</p>
        {{#if isSuperUser}}
            <a id="superUserLink" href="/superuser">Super User Page</a>
        {{/if}}
        <a id="signoutLink" href="/signout">Sign out</a>
    </div>
</main>